h1 {
    text-align: center;
    color: brown;
    font-size: 75px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 4px;
}

h6 {
    text-align: center;
}

div {
    border: 1px solid black;
}

body {
    background-color: darkseagreen;
}

#linkBox {
    float: left;
    padding-right: 50px;
    margin: 0px 20px 0px 20px;
    background-color: aqua;
    color: chocolate;
    border-style: groove;
    border-width: 5px;
}

#bigBox {
    display: flex;
    border: white;
}

#reformBox {
    display: block;
    border: white;
}

#linkBox a {
    color: darkorange;
}

#blogImg {
    height: 150px;
    width: 200px;
    display: inline;
    float: left;
    margin: 0px 10px 0px 10px;

}

#baseBox {
    margin: 10px 5px 5px 5px;
    background-color: chartreuse;
    border-style: groove;
    border-width: 5px;
}

#baseBox h2 {
    text-align: center;
    color: darkgreen;
    margin: 4px 4px 2px 4px;
}

#baseBox p {
    margin: 5px 4px 20px 4px;
    color: darkolivegreen;
    text-shadow: 5px 5px 5px;
}

#mePic {
    height: 105px;
    width: 90px;
    float: left;
    display: inline;
    margin: 0px 4px 2px 4px;
}

.blogPost {
    margin: 5px 20px 0px 20px;
    background-color: aquamarine;
    text-shadow: 1px -1px 4px gray;
    border-style: groove;
    border-width: 5px;
}

.linkTitle {
    margin: 0px 0px 5px 0px;
    color: brown;
}

.noBullet {
    color: aqua;
}

.blogPost p {
    color: crimson;
    margin: 0px 4px 4px 4px;
}

.blogPost h2 {
    color: darkred;
    text-align: center;
}