#all {
    margin: 0px 500px 0px 500px;
    background-color: cadetblue;
    
    height: 100%;
    border-style: groove;
    border-color: darkcyan;
    border-width: 20px;
}

#head {
    text-align: center;
    color:darkcyan;
}

#link {
    border: 5px;
    border-color:lightblue;
    border-style: double;
    margin: 0px 20px 0px 20px;
    background-color: dodgerblue;


}

.moo {
    display: inline-block;
    padding: 10px;
}

.post {
    border: 5px;
    border-color: black;
    border-style: double;
    margin: 20px 20px 20px 20px;
    background-color: darkblue;
    color: aquamarine;
    text-shadow: 5px 5px 5px;
}

.postImg {
    float: left;
    width: 100px;
    height: 75px;
    padding: 5px;
    border: 5px;
    border-style: ridge;
    border-color: darkturquoise;
}

body {
    background-color: blue;
}

.text {
    text-align: left;
}